@import 'reset';

/**FONTS**/

@font-face {
    font-family: "FuturaStd-Light";
    src: url('../fonts/FuturaStd-Light.eot');
    src: local('☺'), url('../fonts/FuturaStd-Light.woff') format('woff'), url('../fonts/FuturaStd-Light.TTF') format('truetype'), url('../fonts/FuturaStd-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** VARS **/

$main-color: #FF6B6E;
$main-font: FuturaStd-Light;

/** BASIC **/

.center {
    margin: 0 auto;
}

main {
    width: 1280px;
    height: 690px;
    background-color: white;
    position: relative;
}

#page {
    width: 1280px;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}


/** SEARCH BAR **/

#uppernavitems {
    #logo_nav {
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 100px;
        z-index: 300;
        height: 51px;
        width: 175px;
        cursor: pointer;
    }
    input[type=text] {
        width: 280px;
        height: 30px;
        border: 1px solid $main-color;
        transition: all ease 1s;
        border-radius: 30px;
        margin-top: 27.5px;
        margin-left: 477.5px;
        background-image: url('../img/magnifyinglass.svg');
        background-repeat: no-repeat;
        background-position: left 10px center;
        padding-left: 45px;
        font-family: FuturaStd-Light;
        font-size: 12px;
        color: $main-color;
        float: left;
    }
    input[type=text]::-webkit-input-placeholder,
    input[type=text]::-moz-placeholder,
    input[type=text]:-ms-input-placeholder,
    input[type=text]:-moz-placeholder {
        color: $main-color;
    }
    input[type=text]:focus {
        width: 625px;
        transition: all ease 1s;
        border: 1px solid $main-color;
        outline: none !important;
        border: 1px solid #FF6B6E;
        box-shadow: 0 0 2px $main-color;
        margin-left: 355px;
        font-size: 15px;
    }
}


/** BURGER **/

#uppernav {
    width: 100%;
    height: 85px;
    #uppernavitems {
        width: 1280px;
        height: 85px;
        position: relative;
        #burger {
            height: 20px;
            width: 20px;
            float: right;
            margin: 30px 105px 0 0;
            cursor: pointer;
            z-index: 300;
            transition: all ease 1s;
            background-color: white;
            .line {
                height: 4px;
                width: 20px;
                background-color: #FF6B6E;
                margin-bottom: 4px;
                transition: all ease 1s;
            }
            .line:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.rotated {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


/** BURGERMENU **/

#burger {
    position: relative;
}

#burgermenu {
    height: 85px;
    width: 1280px;
    position: absolute;
    right: -700px;
    transition: all ease 1s;
    opacity: 0;
    background-color: white;
    border-bottom: 2px solid #FF6B6E;
    z-index: 250;
    ul {
        list-style: none;
        height: 85px;
        width: 560px;
        float: right;
        margin-right: 125px;
        li {
            display: block;
            float: left;
            height: 85px;
            width: 90px;
            margin-right: 50px;
            a {
                height: 85px;
                line-height: 85px;
                width: 90px;
                font-family: FuturaStd-Light;
                font-size: 16px;
                letter-spacing: 2px;
                text-align: center;
                color: black;
                transition: all ease 0.5s;
            }
            a:hover {
                color: #FF6B6E;
                transition: all ease 0.5s;
            }
        }
    }
}


/**PLAYLIST SIDE BAR **/

#playlist {
    height: 100%;
    width: 400px;
    background-color: #FF6B6E;
    position: absolute;
    z-index: 400;
    right: -400px;
    top: 0;
    opacity: 1;
    transition: all ease 2s;
    #btnplaylist {
        height: 100px;
        width: 30px;
        position: absolute;
        left: -30px;
        top: 50%;
        margin-top: -50px;
        box-sizing: border-box;
        border: 1px solid #FF6B6E;
        border-right: 0px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        cursor: pointer;
        background-color: white;
        transition: all ease 1s;
        #btnplaylisticon {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: 5px;
            font-size: 0px;
            line-height: 0%;
            width: 0px;
            border-top: 10px solid white;
            border-right: 20px solid #FF6B6E;
            border-bottom: 10px solid white;
            transition: all ease 1s;
        }
    }
    #btnplaylist:hover {
        animation: wiggle 1s infinite;
    }
    @keyframes wiggle {
        0% {
            width: 30px;
            left: -30px;
        }
        50% {
            width: 40px;
            left: -40px;
        }
        100% {
            width: 30px;
            left: -30px;
        }
    }
    #playlistcontent {
        position: absolute;
        height: 89%;
        top: 11%;
        width: 100%;
        background-color: blue;
        h2 {
            font-family: FuturaStd-light;
            text-align: center;
            color: white;
            letter-spacing: 30px;
            transform: rotate(-90deg);
            position: absolute;
            top: 40%;
            left: -33.5%;
        }
        #h2bg {
            height: 100%;
            width: 6%;
            background-color: #FF6B6E;
            float: left;
        }
        #tracklist {
            width: 94%;
            height: 100%;
            float: right;
            background-color: white;
            position: relative;
            h3 {
                font-family: FuturaStd-light;
                font-size: 20px;
                letter-spacing: 5px;
                text-align: center;
                margin-top: 10px;
            }
            ul {
                list-style: none;
                position: absolute;
                top: 7%;
                left: 50%;
                margin-left: -152.5px;
                height: 93%;
                width: 305px;
                li {
                    width: 305px;
                    height: 44px;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    font-family: FuturaStd-light;
                    font-size: 15px;
                    text-align: center;
                    line-height: 22px;
                    .trackimg {
                        box-sizing: border-box;
                        width: 46px;
                        height: 46px;
                        border: 2px solid #FF6B6E;
                        float: left;
                    }
                    .trackname {
                        width: 250px;
                        height: 46px;
                        float: left;
                        margin-left: 9px;
                        box-sizing: border-box;
                        border: 2px solid #FF6B6E;
                        p,
                        p+p {
                            width: 94%;
                            height: 45%;
                            margin-top: 1%;
                            font-family: FuturaStd-light;
                            font-size: 14px;
                            text-align: left;
                            margin-left: 3%
                        }
                    }
                }
            }
        }
    }
}


/** END PLAYLIST **/


/** PLAYER **/

#musicplayercontainer{
    position: absolute;
    width:100%;
    height:250px;
    bottom:-250px;
    
    #musicplayerbtn{
        position: absolute;
        background-color:white;
        top:-24px;
        left:50%;
        margin-left:-50px;
        height:25px;
        width:100px;
        cursor:pointer;
        z-index: 400;
        box-sizing: border-box;
        border:1px solid $main-color;
        border-top-left-radius:25px;
        border-top-right-radius:25px;
        background-image:url(../img/musicplayerbtn_down.svg);
    }
    #musicplayer{
        position: absolute;
        bottom:0;
        height:250px;
        width:100%;
        background-color:white;
        box-sizing:border-box;
        border-top:1px solid $main-color;
    }
}
/** END PLAYER **/

body {
    overflow-x: hidden;
}


/** INDEX - LANDING PAGE **/


#uppernavitems img,
#uppernavitems [type=text] {
    opacity: 0;
    transition: all ease 1s;
}


main {
    position: relative;
    background-color: white;
}
#biglogo {
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;
    height: 143px;
    width: 482px;
    margin-left: -241px;
    margin-top: -71.5px;
    opacity: 0;
    transition: all ease 3s;
    transition-delay: 3s;
}
#choices {
    width: 688px;
    height: 275px;
    position: absolute;
    left: 50%;
    margin-left: -344px;
    top: 65%;
    margin-top: -137.5px;
    font-family: $main-font;
    #pitch {
        text-align: center;
        position: relative;
        height: 55px;
        p {
            font-size: 24px;
            position: absolute;
            width: 100%;
            top: 0;
            left: -300%;
        }
        h2 {
            position: absolute;
            width: 100%;
            color: $main-color;
            font-size: 18px;
            bottom: 0;
            left: 300%;
        }
    }
    .section {
        margin-top: 25px;
        width: 132px;
        height: 132px;
        float: left;
        margin-left: 40px;
        box-sizing: border-box;
        border: 2px solid $main-color;
        border-radius: 10px;
        position: relative;
        opacity: 0;
        transition: all ease 1s;
        cursor: pointer;
        h3 {
            font-size: 24px;
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0;
            opacity: 0;
        }
    }
    .section:hover {
        background-color: $main-color;
        h3 {
            color: $main-color;
            letter-spacing: 5px;
        }
    }
    #artistbg,#themesbg,#genrebg,#playlist{
        transition: all ease 1s;
    }
    #artistbg:hover,#themesbg:hover,#genrebg:hover,#playlist:hover{
        transition: all ease 1s;
    }
    #artistsbg {
        background-image: url(../img/artists.svg);
        background-size: cover;
    }
    #themesbg {
        background-image: url(../img/themes.svg);
        background-size: cover;
    }
    #themesbg:hover {
        background-image: url(../img/themes_neg.svg);
    }
    #genrebg {
        background-image: url(../img/genre.svg);
        background-size: cover;
    }
    #genrebg:hover{
        background-image: url(../img/genre_neg.svg);
    }
    #playlistsbg {
        background-image: url(../img/popular.svg);
        background-size: cover;
    }
    #playlistsbg:hover {
        background-image: url(../img/popular_neg.svg);
    }
}


/** ARTISTS PAGE **/

main {
    .artist {
        width: 20%;
        height: 50%;
        float: left;
        position: relative;
        cursor: pointer;
        display: visible;
        background-color: purple;
        transition: all ease 1s;
        h3 {
            font-family: $main-font;
            font-size: 18px;
            letter-spacing: 5px;
            text-align: center;
            margin-top: 10px;
            position: absolute;
            bottom: 30px;
            transition: all ease 1s;
        }
        #biggie {
            position: absolute;
            margin-top: 5%;
            height: 80%;
            width: 100%;
            background-image: url(../img/biggie.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: all ease 1s;
        }
        .artist_profile {
            float: right;
            width: 70%;
            height: 100%;
            background-color: blue;
        }
    }
    .artist:hover {
        h3 {
            color: $main-color;
            transition: all ease 1s;
        }
        #biggie {
            background-image: url(../img/biggie_neg.svg);
            transition: all ease 1s;
        }
    }
    .artist-clicked {
        background-color: red;
        height: 100%;
        width: 100%;
        transition: all ease 1s;
    }
    .artist-not-clicked {
        height: 1px;
        width: 1px;
        background-color: blue;
        transition: all ease 1s;
    }
}
/** THEME PAGE **/

.theme{
    width:20%;
    height:50%;
    position: relative;
    float:left;
    background-color:red;
    transition:all ease 1s;
    .theme_img{
        width:100%;
        height:100%;
        background-color:blue;
        display:visible;
    }
    .theme_content{
        width:0%;
        height:100%;
        background-color:purple;
    }
    .theme_img,.theme_content{
        float:left;
    }
    .notselected{
        display:none;
    }
}
/** CLICKED AND NOT SELECTED ELEMENTS **/
.clicked{
    width:100%;
    height:100%;
    cursor:pointer;
    transition:all ease 1s;
    .theme_img{
        height:100%;
        width:20%;
    }
    .theme_content{
        width:80%;
        height:100%;
    }
}
.notselected{
    display:none;
    transition: all ease 1s;
}

body {
    overflow-y: hidden; // SO MUCH CHEATING FIX THIS ISH
}
